@keyframes reveal{
    from { filter:brightness(50%); transform: scale(0.85);}
    to { filter:brightness(100%); transform: scale(1); }
}
.main{
    font-family: sans-serif;
    text-align: center;
    font-size: 5em;
    background: -webkit-linear-gradient(0deg,#4574ff, #5bff55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: reveal;
    animation-duration:0.5s;
}
p{
    font-family: sans-serif;
    width:75%;
    font-size:1.6rem;
    margin-inline:auto;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(0deg,#4574ff, #bb00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background: linear-gradient(45deg,#ffffff,#ffe030);
    font-family: sans-serif;
    
}
@keyframes slide{
    from {
         height:50px; 
        }
    to  {
         height:2px; 
        }
}
.slider{
    animation-name: slide;
    animation-duration: 0.5s;
    height: 2px;
    animation-iteration-count: 1;
}
@keyframes left_slide{
    from{transform:translateX(-50%); opacity:0}
    to{transform:translateX(0%); opacity:1;}
}
@keyframes right_slide{
    from{transform:translateX(50%); opacity:0}
    to{transform:translateX(0%); opacity:1;}
}
.hidden{
    opacity: 0;
}

.show_left{
    animation-name: left_slide;
    animation-duration: 0.75s;
    opacity: 1;
}
.show_right{
    animation-name: right_slide;
    animation-duration: 0.75s;
    opacity: 1;
}
.image{
    width:100%;
    height:100%;
}
.container{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-inline: 5em;
    max-width: fit-content;
}
.text{
    font-family:sans-serif;
    padding-left: 10px;
    font-size: 1.25rem;
}
.rewards_list{
    margin-inline:auto;
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:0.5em;
}
@keyframes slide_up{
    from{
        transform:translateY(40%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}
.reward_wrapper{
    background: linear-gradient(45deg,#aeff95,#70ffd2);
    border-radius:10px;
    
}

li.show_up{
    animation-name: slide_up;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
li.show_up:nth-child(1){
    animation-delay: 0.2s;
}
li.show_up:nth-child(2){
    animation-delay: 0.4s;
}
li.show_up:nth-child(3){
    animation-delay: 0.6s;
}

h3{
    font-family:sans-serif;
    font-size:2em;
    background: -webkit-linear-gradient(0deg,#84a2ff, #ff5c5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.tier_title{
    text-align: center;
}
.tier_info{
    font-family: sans-serif;
    font-size: 1.4rem;
    list-style: square;
    margin:0;
}
h4{
    font-family: sans-serif;
    font-size:1.2rem;
    text-align:center
}
h5{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: 2rem;
}
.goal_container{
    margin-inline:auto;
    width:75%;
    height:0.75rem;
    background-color: grey;
    border-radius:5px;
    align-items: left;
}
.goal{
    background-color: chartreuse;
    height:0.75rem;
    border-radius:5px;
    opacity:1;
    width:25%;
    transform-origin:left center;

    animation-fill-mode: forwards;
}
.show_load{
    animation-name:load-in;
    animation-duration: 0.5s;
}
@keyframes load-in{
    from{
        transform:scale(0,1);
        opacity:1;
    }
    to{
        transform:scale(1,1);
        opacity:1;
    }
}
.goal2{
    background-color: chartreuse;
    height:0.75rem;
    border-radius:5px;
    opacity:1;
    width:12.5%;
    transform-origin:left center;
    animation-fill-mode: forwards;
}
.section_4{
    height:auto;
}

.quote_wrapper{
    background: linear-gradient(90deg,rgb(44, 178, 255),rgb(55, 255, 55));
    text-align:center;
    margin-inline:5%;
    font-size:1.2rem;
    border-radius:5px;
}
.p_wrap{
    align-items: center;
    text-align:center;
    border-radius:15px;
    line-height: 5rem;
    vertical-align: middle;
    background-color:purple;
    width:12rem;
    height: 5rem;
    margin-inline:auto;
}
quote{
    font-size: 1.5rem;
}
a{
    pointer-events: none;
}
a:link{
    text-decoration: none;
    color:white;
    font-size: 1.85rem;
}
a:visited{
    text-decoration: none;
    color:white;
    font-size: 1.85rem;
}
.p_wrap:hover{
    filter:brightness(1.1);
    transform:scale(1.05);
}
.css-selector {
    background: linear-gradient(208deg, #efffd5, #e7ffbf, #f7ffb5, #ffffff);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}

img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
    margin-inline:auto;
    border-radius: 15px;
}
fund{
    font-size: 1.2rem;
}
green{
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(0deg,#00c40d, #00c1c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.gallery{
    display:flex;
    width:900%;
}

.large{
    max-width: 75%;
    margin-inline:auto;
    display:block;
}

.gallery_wrapper{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.gallery_wrapper::-webkit-scrollbar{
    height:0.5rem;
}
.gallery_wrapper::-webkit-scrollbar-thumb{
    background-color: #777;
}
.gallery_wrapper::-webkit-scrollbar-track{
    background-color: #bbb;
}
.gallery_item{
    flex:110%;
    padding:5px;
    scroll-snap-align: center;
}

iframe{
    margin-inline:auto;
    display:block;
}
big{
    font-size: 120%;
}